<nav class="ui inverted green menu">
    <header class="header item"><a href="/"> Blog Admin </a></header>
    <div class="right menu">
        <a id="new user" class="item" href="/signup">New User</a>
        <a id="logout" class= "item" href="/logout"> Logout</a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>