<section class="ui raised segment">
    <div class="ui grid">
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Sender</th>

                </tr>
                </thead>
                <tbody>
                {{#each tweets}}
                    <tr>
                        <td>  {{message}}
                            {{#if picture.data}}
                                <img src="/getImage/{{_id}}" height="90" width="90" />
                            {{/if}}
                        </td>
                        <td> {{sender.firstName}} {{sender.lastName}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>