<section class="ui raised segment">
    <div class="ui grid">
        <table class="ui celled table segment">
            <h3>Followers</h3>
            <thead>
            <tr>
                <th>Name</th>
                <th>Tweet</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody
            {{#each tweets}}
                <tr>
                    <td>{{sender.firstName}}</td>
                    <td> {{message}}</td>
                    <td> {{dateFormat date}}</td>

                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>