<section class="ui raised segment">
    <div class="ui grid">
        <table class="ui celled table segment">
            <thead>
            <tr>
                <th>Followers</th>
            </tr>
            </thead>
            <tbody
            {{#each followers}}
                <tr>

                        <td> <a href="/follower/{{_id}}">{{following.firstName}} {{following.lastName}}</a></td>
                        <td> <a href="/unfollow/{{_id}}"><button class="ui blue submit button">Unfollow</button></a> </td>

                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</section>