            <form action="/tweet" method=POST>
                    <div class="ui fluid form segment">
                        <textarea placeholder="What's on your mind" name="message" maxlength="140">
                        </textarea>
                    </div>
                    <button class="ui blue submit button">Send</button>
            </form>


