<section class="ui raised segment">
    <div class="ui two column grid">
        <div class="column">
            <form action="/tweet" method=POST>
                <div class="ui fluid form segment">
                    <div class="field">
                        <textarea placeholder="What's on your mind" name="message"></textarea>
                    </div>
                    <button class="ui green submit button">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>

