<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer5.jpg" class="ui medium image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Sender</th>

                </tr>
                </thead>
                <tbody>
                {{#each donations}}
                    <tr>
                        <td> {{tweet.msg}} </td>
                        <td> {{sender.firstName}} {{sender.lastName}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>