<section class="ui raised segment">
    <div class="ui grid">
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Users</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody
                {{#each users}}
                    <tr>
                        <td> {{firstName}} {{lastName}}</td>
                        <td> <a href="/editUser/{{_id}}"><i class="green edit icon"></i></a></td>
                        <td> <a href="/removeUser/{{_id}}"><i class="green remove icon"></i></a> </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </article>
            </div>
        </article>
    </div>
</section>