<section class="ui raised segment">
    <div class="ui grid">
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Tweet</th>
                    <th>Date</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#each tweets}}
                    <tr>
                        <td> {{message}}</td>
                        <td> {{dateFormat date}}</td>
                        <td> <a href="/deleteTweet/{{_id}}"><i class="remove icon"></i></a> </td>
                    </tr>

                {{/each}}
                </tbody>
            </table>
            <form action="/deleteAll" method="POST">
            <button class="ui blue button">Delete</button>
                </form>
        </article>
    </div>
</section>