<nav class="ui inverted red menu">
    <header class="header item"><a href="/"> Mytweet </a></header>
    <div class="right menu">
        <a id="admin" class="item" href="/admin"> Admin</a>
        <a id="signup"class="item" href="/signup"> Signup</a>
        <a id="login"class="item" href="/login"> Login</a>
    </div>
</nav>