{{> adminmenu _id="adminHome" }}


<section class="ui raised segment">
    <div class="ui column grid">
        <div class="column">
            {{> userlist }}
        </div>
        <button class="ui green submit button"><a href="/signup">Add New</a></button>
        </div>
</section>