{{> mainmenu _id="home" }}

<section class="ui raised segment">
    <div class="ui three column grid">
        <div class="column">
            {{> tweet }}
         </div>
            <div class="column">
                {{> usertweetlist }}
             </div>
        <div class="column">
        </div>
        </div>
</section>