{{> mainmenu _id="home" }}

<section class="ui raised segment">
    <div class="ui two column grid">
        <div class="column">
            {{> tweet }}
         </div>
            <div class="coloum">
                {{> usertweetlist }}
             </div>
        </div>
</section>