{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/homer.png" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Welcome to Mytweetd</header>
            <p> Please Signup or login </p>
        </article>
    </div>
</section>